h1 {
     margin: 0 0;
     font-size: 72px;
     font-weight: 900;
}

.image {
     text-align: center;
     color: transparent;
     font-weight: 900;
     background: url("https://assets.turbologo.ru/blog/ru/2021/10/30071021/background4.png");
     background-size: 50%;
     background-clip: text;
     -webkit-background-clip: text;
}