textarea {
     width: 100%;
     height: 64px;
     outline: none;
     resize: none;
     box-sizing: border-box;
}

.buttons {
     display: flex;
     justify-content: end;
}

button {
     width: 64px;
     height: 32px;
}
