@import "./Styles/colors.css";

body {
  font-size: 20px;
  background-color: var(--background);
  color: var(--text);
}

.body {
  background-color: var(--main);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--hover);
}